$bk: #000;

html, body {
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: $bk;
}

.indicator-light {
  fill: green;

  &.active {
    fill: red;
  }
}

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  fill-opacity: 0;
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 2px;
}

.track-inset {
  stroke: white;
  fill-opacity: 0;
  stroke-width: 2px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
}


#instruments-widget {
  .brush {
    .overlay {
      stroke: white;
    }
    .handle--s {
      fill-opacity: 0;
      stroke-opacity: 0;
    }
  }
  .selection {
    fill: steelblue;
    fill-opacity: 1;
  }
}
